# Dump and copy postgres database
0 1 * * * /cron/dump.sh

# Dump and copy mongo databases
0 2 * * * /cron/mongo_dump.sh titletime
0 3 * * * /cron/mongo_dump.sh wildcat
0 4 * * * /cron/mongo_dump.sh taxroll

# Send messages to SQS
0 4 * * * /cron/update_clusters.py

# Daily volume backup
0 6 * * * /cron/ebs_backup.py daily

# Weekly volume backup
0 7 * * 0 /cron/ebs_backup.py weekly

# Monthly volume backup
0 8 1 * * /cron/ebs_backup.py monthly
